/*=== RESET CSS ============*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
 }

/*=== VARIABLES ================================*/
:root{
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
}

/*=== BASE ===============================*/
 body{
   font: 400 1rem 'Montserrat', sans-serif;
   color: var(--text-color);
   background: var(--body-background);
   -webkit-font-smoothing: antialiased;
   background-image: url(../assets/background.png);
   background-repeat: no-repeat;
   background-size: 100%  100%;
 }

 .menu > a{
  font: 400 1rem 'Montserrat', sans-serif;
  color: var(--text-color);
  gap: 3.75rem;
  line-height: 1.375rem;
  -webkit-font-smoothing: auto;
 }

 .nav-btn > a{
  font: 700 1.125rem 'Montserrat', sans-serif;
  line-height: 1.25rem;
  color: var( --black-text);
  -webkit-font-smoothing: auto;
 }

 .textfield-left > p {
  font: 400 1rem 'Montserrat', sans-serif;
  color: var(--text-color);
  line-height: 1.375rem;
  -webkit-font-smoothing: auto;
}

 .group-avarts > p{
  font: 400 1rem 'Montserrat', sans-serif;
  line-height: 1.375rem;
  color: var(--text-color);
  -webkit-font-smoothing: auto;
}

.group-avarts > p > span{
  font: 700 1rem 'Montserrat', sans-serif;
  line-height: 1.375rem;
  color: var(--text-color);
  -webkit-font-smoothing: auto;
}

.textfield-mid > h1{
  font: 700 3.125rem 'Montserrat', sans-serif;
  line-height: 3.813rem;
  color: var(--text-color);
  -webkit-font-smoothing: auto;
}

.textfield-mid > h1 > span{
 color: var(--color-logo);
}

.about-right > h2 > span {
  font: 600 3.125rem 'Montserrat', sans-serif;
  line-height: 3.813rem;
  color: var(--text-color);
  -webkit-font-smoothing: auto;
}

.about-right > h2 {
  font: 600 1.25rem 'Montserrat', sans-serif;
  line-height: 1.5rem;
  color: var(--subtitle-color);
  -webkit-font-smoothing: auto;
}

 /*=== LAYOUT =============================*/
#header {
  display: flex;
  height: 12.313rem;
  width: 100%;
  justify-content: center;
}

nav{
  display: flex;
  width: 90%;
  align-items:center;
  justify-content: space-between;
}

.menu{
  display: flex;
  justify-content:space-between;
  gap: 3.75rem;
}

.nav-btn{
  display: flex;
  padding: 0.625rem 0.875rem 0.625rem 0.875rem;
  gap: 15px;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

 /*=== HOME ===============================*/
.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.25rem;
  width: 100%
}

.home-top{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center
}

.textfield-left{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: space-between;
  width: 21.25rem;
  height: 14.188rem;
}

.textfield-mid{
  display: flex;
  width: 37.25rem;
}

.group-avarts{
  display: flex;
  align-items: end;
  gap: 0.375rem;
}

.home-bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.75rem;
}

.gallery1, .gallery2{
  display: flex;
  gap: 1rem;
}

.gallery1 > img, .gallery2 > img{
  width: 25rem;
  border: 1px solid #FFFFFF;
}

 /*=== ABOUT ===============================*/
.about-container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--body-background);
}

 .about-right{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 505px;
  text-align: center;
  justify-content: space-between;
 }

 .about-left{
  display: flex;
  width: 80%;
  height: 355px;
  flex-direction: column;
  justify-content: flex-end;
  
 }

 .comments{
  display: flex;
  justify-content: space-around;
 }
 
 .comments1, .comments2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 388px;
  height: 214px;
 }

 .background > img {
   width: 1544px;
 }


